<app-header></app-header>
<div class="wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="login-title">taikin</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" class="login-form" [formGroup]="loginFormGroup">
        <mat-form-field>
          <input matInput placeholder="email" id="email" formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <input [type]="hide ? 'password' : 'text'" matInput placeholder="password" id="password" formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <button type="submit" mat-raised-button [disabled]="!loginFormGroup.valid" color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
